
   <div class="main">
     <div class="carrusel">
        <img src="../../Public/img/ccc.jpg" alt="">
    </div>
        <h2 id="sub">Productos Nuevos</h2>

    <section class="section">
        <div class="card">
            <img src="../../Public/img/pc1.webp" alt="">
            <h3>Producto</h3>
            <p>Lorem ipsum dolor sit amet.</p>
            <button>Añadir al carrito</button>
        </div>
        <div class="card">
            <img src="../../Public/img/pc1.webp" alt="">
            <h3>Producto</h3>
            <p>Lorem ipsum dolor sit amet.</p>
            <button>Añadir al carrito</button>
        </div>
        <div class="card">
            <img src="../../Public/img/pc1.webp" alt="">
            <h3>Producto</h3>
            <p>Lorem ipsum dolor sit amet.</p>
            <button>Añadir al carrito</button>
        </div>
        <div class="card">
            <img src="../../Public/img/pc1.webp" alt="">
            <h3>Producto</h3>
            <p>Lorem ipsum dolor sit amet.</p>
            <button>Añadir al carrito</button>
        </div>
    </section>

    
   </div>

