<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buildify</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="noticias">
                    <p>Envios rapidos 🏍️</p>
            </div>
            <div class="nav_superior">
                <p>Ayuda</p>
                <p>Seguimiento de pedidos</p>
                <p>Registrarte</p>
            </div>
            <div class="nav">
                
            </div>
        </div>
    </div>
</body>
</html>