
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --color_titulo: #021024;
    --color_fondo_1: #C1E8FF;
    --color_subtitulo: #052659;
    --color_complementario_1: #5683B3;
    --color_complementario_2: #7DA0CA;
}
/* llevar root a archivo css y usar de esta manera⬇️ */
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
/* Estilos HEADER */
#header {
    grid-area: header;
    background-color: #2a2a2a; /* Add background to visualize */
    padding: 0;
}

#news-row {
    width: 100%;
    text-align: center;
    background-color: aliceblue;
    color: #1f1f1f;
}

#category-nav {
    background-color: #2a2a2a;
    padding: 1rem;

    & ul {
        margin: 0;
        list-style-type: none;
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 0;
    }
}

#logo-header-div {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#header-section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 16px;
}

.header-article {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#header-user-options-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    & div {
        width: 50%;
        display: flex;
        justify-content: center;
        gap: 2px;
    }

    & input {
        height: 20px;
    }

    & button {
        box-sizing: border-box
    }
}


/* Estilos carrusel  */
.main{
    grid-area: main;
}
.carrusel{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    /* background-color: rgba(240, 237, 237, 0.842); */
    border-radius: 40px;
    border: 1px solid var(--color_fondo_1);
}
.carrusel img{
    height: 100%;
    width: 80%;
}
.section{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#sub{
    font-family: "Bebas Neue", sans-serif;
    font-size: 5rem;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 50px;
    font-weight: bolder;
    color: white;
}
.section .card{
    padding: 0;
    border: 1px solid var(--color_fondo_1);
    box-shadow: #C1E8FF 0px 0px 20px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    margin-top: 20px;
}

.section .card img {
    height: 60%;
}

#button{
    width: 70%;
    padding: 10px;
    margin: 10px;
    background-color: var(--color_fondo_1);
    color: #1f1f1f;
    font-weight: bolder;
}
/* contenedores de marca */
.marcas{
    padding: 30px;
    grid-area: marcas;
    background-color: #2a2a2a;
    margin-top: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.marcas .card-marcas{
    border: 1px solid var(--color_fondo_1);
    box-shadow: #C1E8FF 0px 0px 20px;
    width: 90px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-top: 20px;
}
.marcas img{
    width: 80px;
    height: 80px;
}